.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.List {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.component-sytle {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 10px;
  margin-right: 10px;
}